@import url('../../utils/base.css');

.logo img {
  width: 300px;
  cursor: pointer;
}

.logo {
  padding: 10px;
  background-color: var(--primary-color);
}

.navbar {
  background-color: var(--secondary-color);
  padding: 0;
  height: 40px;
}

.nav-link {
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  font-weight: 600;
  color: var(--primary-color) !important;
  transition: 0.3s linear;
  text-transform: uppercase;
}

.nav-item {
  margin-bottom: 0;
}

.nav-link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
}

button.navbar-toggler {
  border: 2px solid var(--secondary-color) !important;
  background-color: var(--primary-color) !important;
  height: 45px;
}

/* Search Feature */

#form-search {
  position: absolute;
  width: 250px;
  right: 0;
  margin-right: 50px;
  background: var(--primary-color);
}

#input-search,
#submit-search {
  height: 40px;
  border: 1px solid var(--secondary-color);
}

input[type='search'] {
  outline: 0;
  width: 100%;
  background: white;
  padding: 5px;
  appearance: none;
  transition: all 0.3s cubic-bezier(0, 0, 0.43, 1.49);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}
#submit-search {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--search-btn-width);
  font-weight: bold;
  background: var(--primary-color);
  color: var(--secondary-color);
}

input:not(:placeholder-shown) {
  width: calc(100% - var(--search-btn-width));
}

/* Responsive */
@media only screen and (max-width: 800px) {
  #input-search {
    width: 180px !important;
  }
  #form-search {
    position: absolute;
    top: 0;
    margin-top: 1.5px;
    margin-right: 2px;
  }
  .logo img {
    width: 200px;
  }
  .logo {
    padding: 5px;
  }
  .nav-item {
    border-bottom: 1px dotted var(--primary-color);
    border-width: 80%;
  }
  .nav-item:last-child {
    border-bottom: 0px;
  }
  .navbar{
    height: 45px;
  }
}

@media only screen and (max-width: 300px) {
  body {
    font-size: 15px;
  }
  #input-search {
    width: 105px !important;
  }
  #form-search {
    position: absolute;
    top: 0;
    margin-top: 1.5px;
    margin-right: 2px;
    width: 10rem;
  }
  #submit-search {
    width: 55px;
  }
  .logo img {
    width: 200px;
  }
  .logo {
    padding: 5px;
  }
  .nav-item {
    border-bottom: 1px dotted var(--primary-color);
    border-width: 80%;
  }
  .nav-item:last-child {
    border-bottom: 0px;
  }
  .navbar{
    height: 45px;
  }
}
