@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --primary-color: #393e46;
  --secondary-color: #f0a500;
  --search-btn-width: 70px;
}

body {
  font-family: Quicksand;
  font-size: 15px;
}
