@import url('../../utils/base.css');

footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  text-align: center;
  font-weight: bolder;
}

.jumbotron {
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: fit-content;
  margin-bottom: 0;
  background-color: var(--primary-color);
  color: white;
}

.copyright p,
.col img {
  margin-top: 7px;
  margin-bottom: 7px;
}

.socmed {
  width: 200px;
  position: absolute;
  right: 0;
  margin-right: 10px;
}

.col img {
  width: 25px;
}

.copyright-socmed {
  display: inline-flex;
  margin-top: 3px;
  margin-bottom: 3px;
}

.col a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: bottom left;
  background-color: white;
}

.col a:hover::before {
  transform: scaleX(1);
}

.bottom-info .col {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 10px;
}

.bottom-info .col p {
  text-align: justify;
  font-size: small;
  font-weight: normal;
  margin-top: 10px;
}

.second-logo {
  width: 170px !important;
}

#btn-buku-perdana {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  border: none;
}

#title-perspektif-penulis {
  color: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .copyright-socmed {
    position: relative;
    display: inline-block;
  }
  .socmed {
    width: 200px;
    position: relative;
    right: 0;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 300px) {
  .copyright-socmed {
    position: relative;
    display: inline-block;
  }
  .socmed {
    width: 200px;
    position: relative;
    right: 0;
    margin-right: 0px;
  }
}
